@use '../../../assets/typography' as *;

.nav-drawer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 310px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  //background-color: var(--accent);
    &__menu {
      li {
        display: block!important;
        justify-content: center;
        align-content: center;
        margin-left: -2em;
      }

      li > a {
        height: 18px;

        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        /* identical to box height, or 100% */

        color: var(--secondary);

        text-decoration: none!important;
      }

      &__item {
        a > div {
          display: flex;
          align-items: center;
        }

        &__icon {
          color: var(--primary);
          margin-right: 0.25em;
        }
        &__content {
          text-align: center;
          color: var(--primary);
        }
      }
    }
}
