extends ../../layout/chat

block styles
  link(href="../../components/page/page.scss" rel="stylesheet")

block main
  section.page
    aside.page__aside
      include ../nav-drawer/nav-drawer
    div.page__content
      block content
