doctype html
html(lang=ru)
  head
    link(href="../../../assets/normalize.css" rel="stylesheet")
    link(href="../../../assets/styles.scss" rel="stylesheet")

    block styles

  body
    block layout
