- const navItems = [
-   { href: '/', icon: 'mdi-home-outline', text: 'На главную' },
-   { href: '/profile', icon: 'mdi-account-outline', text: 'Профайл' },
-   { href: '/chat', icon: 'mdi-forum-outline', text: 'Чат' },
-   { href: '/', icon: 'mdi-exit-run', text: 'Выход' }];
