- const channelList = [
-   { href: '/', icon: 'mdi-home-outline', text: 'На главную2' },
-   { href: '/profile', icon: 'mdi-account-outline', text: 'Профайл2' },
-   { href: '/chat', icon: 'mdi-forum-outline', text: 'Чат2' },
-   { href: '/', icon: 'mdi-exit-run', text: 'Выход2' }];
